body{
    overflow-x: auto;
    height: 100%;
}

.desktop-1,
.desktop-1 * {
    box-sizing: border-box;
}

.desktop-1 {
    background: #ffffff;
    width: 90rem;
    height: 64rem;
    position: relative;
}

.fundo-geral {
    background: #ffffff;
    border-radius: 1.5rem;
    opacity: 0.4000000059604645;
    width: 90rem;
    height: 156.375rem;
    position: absolute;
    left: 0rem;
    top: -1.6875rem;
}

.essenciais {
    position: absolute;
    inset: 0;
}

.artigos-essenciais {
    color: #000000;
    text-align: left;
    font: 700 3rem 'Now Alt', sans-serif;
    position: absolute;
    left: 8.9375rem;
    top: 66.125rem;
    width: 27rem;
}

.t-picos {
    width: 71.875rem;
    height: 21.6875rem;
    position: static;
}

.exemplo-pesquisa-1 {
    width: 71.875rem;
    height: 6.25rem;
    position: static;
}

.rectangle-6 {
    background: #d9d9d9;
    border-radius: 3.125rem;
    width: 71.875rem;
    height: 6.25rem;
    position: absolute;
    left: 11.75rem;
    top: 72.6875rem;
}

.ref-do-artigo {
    color: #000000;
    text-align: left;
    font: 700 2rem 'Now Alt', sans-serif;
    position: absolute;
    left: 15.9375rem;
    top: 73.375rem;
    width: 7.25rem;
}

._1 {
    color: #000000;
    text-align: center;
    font: 700 2rem 'Now Alt', sans-serif;
    position: absolute;
    left: 13.3125rem;
    top: 74.625rem;
    width: 1.8125rem;
    display: flex;
    align-items: center;
    justify-content: center
}

.t-tulo-do-artigo {
    color: #000000;
    text-align: center;
    font: 300 2rem 'Now', sans-serif;
    position: absolute;
    left: 24.0625rem;
    top: 74rem;
    width: 15rem;
}

.lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-nullam-aliquam-sceleris {
    color: #717171;
    text-align: left;
    font: 300 1.375rem 'Now', sans-serif;
    position: absolute;
    left: 25.8125rem;
    top: 76.3125rem;
    width: 54.3125rem;
}

.exemplo-pesquisa-2 {
    width: 71.875rem;
    height: 6.25rem;
    position: static;
}

.rectangle-62 {
    background: #d9d9d9;
    border-radius: 3.125rem;
    width: 71.875rem;
    height: 6.25rem;
    position: absolute;
    left: 11.75rem;
    top: 80.125rem;
}

.ref-do-artigo2 {
    color: #000000;
    text-align: left;
    font: 700 2rem 'Now Alt', sans-serif;
    position: absolute;
    left: 15.9375rem;
    top: 80.8125rem;
    width: 7.25rem;
}

._2 {
    color: #000000;
    text-align: center;
    font: 700 2rem 'Now Alt', sans-serif;
    position: absolute;
    left: 13.125rem;
    top: 82.0625rem;
    width: 2.125rem;
    display: flex;
    align-items: center;
    justify-content: center
}

.t-tulo-do-artigo2 {
    color: #000000;
    text-align: center;
    font: 300 2rem 'Now', sans-serif;
    position: absolute;
    left: 24.0625rem;
    top: 81.4375rem;
    width: 15rem;
}

.lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-nullam-aliquam-sceleris2 {
    color: #717171;
    text-align: left;
    font: 300 1.375rem 'Now', sans-serif;
    position: absolute;
    left: 25.8125rem;
    top: 83.75rem;
    width: 54.3125rem;
}

.exemplo-pesquisa-3 {
    width: 71.875rem;
    height: 6.25rem;
    position: static;
}

.rectangle-63 {
    background: linear-gradient(180deg, rgba(217, 217, 217, 1.00) 0%, rgba(217, 217, 217, 0.00) 51.5625%);
    border-radius: 3.125rem;
    width: 71.875rem;
    height: 6.25rem;
    position: absolute;
    left: 11.75rem;
    top: 87.5625rem;
}

.ref-do-artigo3 {
    color: linear-gradient(180deg, rgba(0, 0, 0, 0.50) 0%, rgba(0, 0, 0, 0.00) 49.47916567325592%);
    text-align: left;
    font: 700 2rem 'Now Alt', sans-serif;
    position: absolute;
    left: 15.9375rem;
    top: 88.25rem;
    width: 7.25rem;
}

._22 {
    color: linear-gradient(180deg, rgba(0, 0, 0, 0.50) 0%, rgba(0, 0, 0, 0.00) 49.47916567325592%);
    text-align: center;
    font: 700 2rem 'Now Alt', sans-serif;
    position: absolute;
    left: 13.125rem;
    top: 89.5rem;
    width: 2.125rem;
    display: flex;
    align-items: center;
    justify-content: center
}

.t-tulo-do-artigo3 {
    color: linear-gradient(180deg, rgba(0, 0, 0, 0.50) 0%, rgba(0, 0, 0, 0.00) 49.47916567325592%);
    text-align: center;
    font: 300 2rem 'Now', sans-serif;
    position: absolute;
    left: 24.0625rem;
    top: 88.875rem;
    width: 15rem;
}

.mais {
    width: 10.8125rem;
    height: 2.0625rem;
    position: static;
}

.rectangle-7 {
    background: #d9d9d9;
    border-radius: 3.125rem;
    width: 10.8125rem;
    height: 2.0625rem;
    position: absolute;
    left: 13.25rem;
    top: 92.3125rem;
}

.ver-mais {
    color: #000000;
    text-align: left;
    font: 300 1.375rem 'Now', sans-serif;
    position: absolute;
    left: 17.5625rem;
    top: 92.5625rem;
    width: 5.625rem;
}

.vector {
    position: absolute;
    left: 13.9375rem;
    top: 93.6875rem;
    transform: translate(0rem, -0.625rem);
    overflow: visible;
}

.fundo-barra {
    background: #d9d9d9;
    border-radius: 1.5rem;
    opacity: 0.4000000059604645;
    width: 90rem;
    height: 37.25rem;
    position: absolute;
    left: 0rem;
    top: -1.6875rem;
}

.barra {
    position: absolute;
    inset: 0;
}

.background {
    position: absolute;
    left: 0rem;
    top: 3.475rem;
    overflow: visible;
}

.main {
    position: absolute;
    inset: 0;
}

.busque-a-lei-aqui {
    color: #000000;
    text-align: center;
    font: 700 5rem 'Now Alt', sans-serif;
    position: absolute;
    left: 21.375rem;
    top: 9.625rem;
    width: 47.25rem;
    height: 13.75rem;
}

.th-mis {
    color: #000000;
    text-align: center;
    font: 700 2rem 'Now Alt', sans-serif;
    position: absolute;
    left: 40.6875rem;
    top: 1.0625rem;
    width: 8.5625rem;
    height: 2.5rem;
}

.group-1 {
    width: 45.3125rem;
    height: 4.375rem;
    position: static;
}

.barra-pesquisa {
    background: #878787;
    border-radius: 1.90625rem;
    width: 45.3125rem;
    height: 4.375rem;
    position: absolute;
    left: 22.3125rem;
    top: 25.5rem;
}

.texto {
    color: #d9d9d9;
    text-align: left;
    font: 700 2rem 'Now Alt', sans-serif;
    position: absolute;
    left: 24.0625rem;
    top: 26.625rem;
    width: 24.6875rem;
    height: 2.125rem;
}

.t-picos2 {
    position: absolute;
    inset: 0;
}

.rectangle-72 {
    background: #f0f0f0;
    border-radius: 3.125rem;
    width: 62.5rem;
    height: 15.0625rem;
    position: absolute;
    left: 13.75rem;
    top: 34.375rem;
}

.col-1 {
    width: 12.8125rem;
    height: 12.5rem;
    position: static;
}

.d-trabalho {
    width: 12.8125rem;
    height: 5.25rem;
    position: static;
}

.barra-pesquisa2 {
    background: #000000;
    border-radius: 1.90625rem;
    width: 12.8125rem;
    height: 5.25rem;
    position: absolute;
    left: 15.625rem;
    top: 35.625rem;
}

.direito-do-trabalho {
    color: #ffffff;
    text-align: center;
    font: 700 1.25rem 'Now Alt', sans-serif;
    position: absolute;
    left: 20rem;
    top: 36.875rem;
    width: 7.4375rem;
    height: 3.375rem;
}

.work-case-svgrepo-com-1 {
    width: 3.25rem;
    height: 3.25rem;
    position: absolute;
    left: 19.8125rem;
    top: 36.625rem;
    transform-origin: 0 0;
    transform: rotate(0deg) scale(-1, 1);
    overflow: hidden;
}

.page-1 {
    position: absolute;
    inset: 0;
}

.combined-shape {
    position: absolute;
    left: 0.270625rem;
    top: 0.40625rem;
    overflow: visible;
}

.d-humanos {
    width: 12.8125rem;
    height: 5.25rem;
    position: static;
}

.barra-pesquisa3 {
    background: #000000;
    border-radius: 1.90625rem;
    width: 12.8125rem;
    height: 5.25rem;
    position: absolute;
    left: 15.625rem;
    top: 42.875rem;
}

.direitos-humanos {
    color: #ffffff;
    text-align: center;
    font: 700 1.25rem 'Now Alt', sans-serif;
    position: absolute;
    left: 20rem;
    top: 44.125rem;
    width: 7.4375rem;
    height: 3.375rem;
}

.work-case-svgrepo-com-12 {
    width: 3.25rem;
    height: 3.25rem;
    position: absolute;
    left: 19.8125rem;
    top: 43.875rem;
    transform-origin: 0 0;
    transform: rotate(0deg) scale(-1, 1);
    overflow: hidden;
}

.combined-shape2 {
    position: absolute;
    left: 0.470625rem;
    top: -0.0625rem;
    overflow: visible;
}

.col-4 {
    width: 12.8125rem;
    height: 12.5rem;
    position: static;
}

.placeholder {
    width: 12.8125rem;
    height: 5.25rem;
    position: static;
}

.barra-pesquisa4 {
    background: #000000;
    border-radius: 1.90625rem;
    width: 12.8125rem;
    height: 5.25rem;
    position: absolute;
    left: 61.5625rem;
    top: 35.6875rem;
}

.exemplo-exemplo {
    color: #ffffff;
    text-align: center;
    font: 700 1.25rem 'Now Alt', sans-serif;
    position: absolute;
    left: 65.9375rem;
    top: 36.9375rem;
    width: 7.4375rem;
    height: 3.375rem;
}

.work-case-svgrepo-com-13 {
    width: 3.25rem;
    height: 3.25rem;
    position: absolute;
    left: 65.75rem;
    top: 36.6875rem;
    transform-origin: 0 0;
    transform: rotate(0deg) scale(-1, 1);
    overflow: hidden;
}

.combined-shape3 {
    position: absolute;
    left: 0.375rem;
    top: 1.25rem;
    overflow: visible;
}

.barra-pesquisa5 {
    background: #000000;
    border-radius: 1.90625rem;
    width: 12.8125rem;
    height: 5.25rem;
    position: absolute;
    left: 61.5625rem;
    top: 42.9375rem;
}

.exemplo-exemplo2 {
    color: #ffffff;
    text-align: center;
    font: 700 1.25rem 'Now Alt', sans-serif;
    position: absolute;
    left: 65.9375rem;
    top: 44.1875rem;
    width: 7.4375rem;
    height: 3.375rem;
}

.work-case-svgrepo-com-14 {
    width: 3.25rem;
    height: 3.25rem;
    position: absolute;
    left: 65.75rem;
    top: 43.9375rem;
    transform-origin: 0 0;
    transform: rotate(0deg) scale(-1, 1);
    overflow: hidden;
}

.combined-shape4 {
    position: absolute;
    left: 0.375rem;
    top: 1.25rem;
    overflow: visible;
}

.col-2 {
    width: 12.8125rem;
    height: 12.5rem;
    position: static;
}

.barra-pesquisa6 {
    background: #000000;
    border-radius: 1.90625rem;
    width: 12.8125rem;
    height: 5.25rem;
    position: absolute;
    left: 30.9375rem;
    top: 35.6875rem;
}

.exemplo-exemplo3 {
    color: #ffffff;
    text-align: center;
    font: 700 1.25rem 'Now Alt', sans-serif;
    position: absolute;
    left: 35.3125rem;
    top: 36.9375rem;
    width: 7.4375rem;
    height: 3.375rem;
}

.work-case-svgrepo-com-15 {
    width: 3.25rem;
    height: 3.25rem;
    position: absolute;
    left: 35.125rem;
    top: 36.6875rem;
    transform-origin: 0 0;
    transform: rotate(0deg) scale(-1, 1);
    overflow: hidden;
}

.combined-shape5 {
    position: absolute;
    left: 0.375rem;
    top: 1.25rem;
    overflow: visible;
}

.barra-pesquisa7 {
    background: #000000;
    border-radius: 1.90625rem;
    width: 12.8125rem;
    height: 5.25rem;
    position: absolute;
    left: 30.9375rem;
    top: 42.9375rem;
}

.exemplo-exemplo4 {
    color: #ffffff;
    text-align: center;
    font: 700 1.25rem 'Now Alt', sans-serif;
    position: absolute;
    left: 35.3125rem;
    top: 44.1875rem;
    width: 7.4375rem;
    height: 3.375rem;
}

.work-case-svgrepo-com-16 {
    width: 3.25rem;
    height: 3.25rem;
    position: absolute;
    left: 35.125rem;
    top: 43.9375rem;
    transform-origin: 0 0;
    transform: rotate(0deg) scale(-1, 1);
    overflow: hidden;
}

.combined-shape6 {
    position: absolute;
    left: 0.375rem;
    top: 1.25rem;
    overflow: visible;
}

.col-3 {
    width: 12.8125rem;
    height: 12.5rem;
    position: static;
}

.barra-pesquisa8 {
    background: #000000;
    border-radius: 1.90625rem;
    width: 12.8125rem;
    height: 5.25rem;
    position: absolute;
    left: 46.25rem;
    top: 35.6875rem;
}

.exemplo-exemplo5 {
    color: #ffffff;
    text-align: center;
    font: 700 1.25rem 'Now Alt', sans-serif;
    position: absolute;
    left: 50.625rem;
    top: 36.9375rem;
    width: 7.4375rem;
    height: 3.375rem;
}

.work-case-svgrepo-com-17 {
    width: 3.25rem;
    height: 3.25rem;
    position: absolute;
    left: 50.4375rem;
    top: 36.6875rem;
    transform-origin: 0 0;
    transform: rotate(0deg) scale(-1, 1);
    overflow: hidden;
}

.combined-shape7 {
    position: absolute;
    left: 0.375rem;
    top: 1.25rem;
    overflow: visible;
}

.barra-pesquisa9 {
    background: #000000;
    border-radius: 1.90625rem;
    width: 12.8125rem;
    height: 5.25rem;
    position: absolute;
    left: 46.25rem;
    top: 42.9375rem;
}

.exemplo-exemplo6 {
    color: #ffffff;
    text-align: center;
    font: 700 1.25rem 'Now Alt', sans-serif;
    position: absolute;
    left: 50.625rem;
    top: 44.1875rem;
    width: 7.4375rem;
    height: 3.375rem;
}

.work-case-svgrepo-com-18 {
    width: 3.25rem;
    height: 3.25rem;
    position: absolute;
    left: 50.4375rem;
    top: 43.9375rem;
    transform-origin: 0 0;
    transform: rotate(0deg) scale(-1, 1);
    overflow: hidden;
}

.combined-shape8 {
    position: absolute;
    left: 0.375rem;
    top: 1.25rem;
    overflow: visible;
}

.acessar-constitui-o {
    position: absolute;
    inset: 0;
}

.barra-pesquisa10 {
    background: #000000;
    border-radius: 1.90625rem;
    width: 35rem;
    height: 5.25rem;
    position: absolute;
    left: 27.5rem;
    top: 53.4375rem;
}

.acessar-constitui-o2 {
    color: #ffffff;
    text-align: center;
    font: 700 2.25rem 'Now Alt', sans-serif;
    position: absolute;
    left: 32.4375rem;
    top: 54.8125rem;
    width: 25.125rem;
    height: 2.5rem;
}

.faq {
    position: absolute;
    inset: 0;
}

.rectangle-73 {
    background: #f0f0f0;
    border-radius: 3.125rem;
    width: 77.25rem;
    height: 45.125rem;
    position: absolute;
    left: 6.375rem;
    top: 103.125rem;
}

.faq-1 {
    width: 71.875rem;
    height: 4.125rem;
    position: static;
}

.rectangle-64 {
    background: #d9d9d9;
    border-radius: 3.125rem;
    width: 71.875rem;
    height: 4.125rem;
    position: absolute;
    left: 9.0625rem;
    top: 111.25rem;
}

.quem-somos {
    color: #000000;
    text-align: left;
    font: 400 2rem 'Now', sans-serif;
    position: absolute;
    left: 11.375rem;
    top: 112.125rem;
    width: 25.625rem;
}

.down-circle-svgrepo-com-1 {
    position: absolute;
    left: 77.3125rem;
    top: 112.1875rem;
    overflow: visible;
}

.faq-2 {
    width: 71.875rem;
    height: 4.125rem;
    position: static;
}

.rectangle-65 {
    background: #d9d9d9;
    border-radius: 3.125rem;
    width: 71.875rem;
    height: 4.125rem;
    position: absolute;
    left: 8.9375rem;
    top: 118.25rem;
}

.qual-o-objetivo-do-projeto {
    color: #000000;
    text-align: left;
    font: 400 2rem 'Now', sans-serif;
    position: absolute;
    left: 11.25rem;
    top: 119.125rem;
    width: 51.6875rem;
}

.down-circle-svgrepo-com-12 {
    position: absolute;
    left: 77.1875rem;
    top: 119.1875rem;
    overflow: visible;
}

.faq-3 {
    width: 71.875rem;
    height: 4.125rem;
    position: static;
}

.rectangle-66 {
    background: #d9d9d9;
    border-radius: 3.125rem;
    width: 71.875rem;
    height: 4.125rem;
    position: absolute;
    left: 9.0625rem;
    top: 125.25rem;
}

.pergunta {
    color: #000000;
    text-align: left;
    font: 400 2rem 'Now', sans-serif;
    position: absolute;
    left: 11.375rem;
    top: 126.125rem;
    width: 51.6875rem;
}

.down-circle-svgrepo-com-13 {
    position: absolute;
    left: 77.3125rem;
    top: 126.1875rem;
    overflow: visible;
}

.faq-4 {
    width: 71.875rem;
    height: 4.125rem;
    position: static;
}

.rectangle-67 {
    background: #d9d9d9;
    border-radius: 3.125rem;
    width: 71.875rem;
    height: 4.125rem;
    position: absolute;
    left: 8.9375rem;
    top: 132.25rem;
}

.pergunta2 {
    color: #000000;
    text-align: left;
    font: 400 2rem 'Now', sans-serif;
    position: absolute;
    left: 11.25rem;
    top: 133.125rem;
    width: 51.6875rem;
}

.down-circle-svgrepo-com-14 {
    position: absolute;
    left: 77.1875rem;
    top: 133.1875rem;
    overflow: visible;
}

.faq-5 {
    width: 71.875rem;
    height: 4.125rem;
    position: static;
}

.rectangle-68 {
    background: #d9d9d9;
    border-radius: 3.125rem;
    width: 71.875rem;
    height: 4.125rem;
    position: absolute;
    left: 8.9375rem;
    top: 139.25rem;
}

.pergunta3 {
    color: #000000;
    text-align: left;
    font: 400 2rem 'Now', sans-serif;
    position: absolute;
    left: 11.25rem;
    top: 140.125rem;
    width: 51.6875rem;
}

.down-circle-svgrepo-com-15 {
    position: absolute;
    left: 77.1875rem;
    top: 140.1875rem;
    overflow: visible;
}

.perguntas-frequentes {
    color: #000000;
    text-align: left;
    font: 700 3rem 'Now Alt', sans-serif;
    position: absolute;
    left: 8.9375rem;
    top: 105.3125rem;
    width: 32.875rem;
}