body{
    margin-top: -1rem;
}

.desktop-2,
.desktop-2 * {
    box-sizing: border-box;
}

.desktop-2 {
    background: #ffffff;
    width: 90rem;
    height: 64rem;
    position: relative;
}

.bg {
    border-radius: 1.5625rem;
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0rem;
    top: 0rem;
    overflow: visible;
}

.mainframe {
    display: flex;
    flex-direction: column;
    gap: 2.5625rem;
    align-items: center;
    justify-content: flex-start;
    width: 67.5rem;
    height: 29.625rem;
    position: absolute;
    left: 11.25rem;
    top: 30rem;
}

.filtros {
    background: #f0f0f0;
    border-radius: 3.125rem;
    padding: 2.5rem;
    display: flex;
    flex-direction: row;
    gap: 2.5rem;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}

.filtro-1 {
    background: #000000;
    border-radius: 1.90625rem;
    padding: 0.625rem 1rem 0.625rem 1rem;
    display: flex;
    flex-direction: row;
    gap: 0.4375rem;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 13.5rem;
    height: 5rem;
    position: relative;
    overflow: hidden;
}

.vector2 {
    flex-shrink: 0;
    position: relative;
    transform: translate(0rem, 0rem);
    overflow: visible;
}

.filtro-12 {
    color: #ffffff;
    text-align: center;
    font: 700 1.25rem 'Now Alt', sans-serif;
    position: relative;
    width: 7.4375rem;
    display: flex;
    align-items: center;
    justify-content: center
}

.filtro-2 {
    background: #000000;
    border-radius: 1.90625rem;
    padding: 0.625rem 1rem 0.625rem 1rem;
    display: flex;
    flex-direction: row;
    gap: 0.4375rem;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 13.5rem;
    height: 5rem;
    position: relative;
    overflow: hidden;
}

.vector3 {
    flex-shrink: 0;
    position: relative;
    transform: translate(0rem, 0rem);
    overflow: visible;
}

.filtro-3 {
    background: #000000;
    border-radius: 1.90625rem;
    padding: 0.625rem 1rem 0.625rem 1rem;
    display: flex;
    flex-direction: row;
    gap: 0.4375rem;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 13.5rem;
    height: 5rem;
    position: relative;
    overflow: hidden;
}

.vector4 {
    flex-shrink: 0;
    position: relative;
    transform: translate(0rem, 0rem);
    overflow: visible;
}

.filtro-4 {
    background: #000000;
    border-radius: 1.90625rem;
    padding: 0.625rem 1rem 0.625rem 1rem;
    display: flex;
    flex-direction: row;
    gap: 0.4375rem;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 13.5rem;
    height: 5rem;
    position: relative;
    overflow: hidden;
}

.vector5 {
    flex-shrink: 0;
    position: relative;
    transform: translate(0rem, 0rem);
    overflow: visible;
}

.filtro-5 {
    background: #000000;
    border-radius: 1.90625rem;
    padding: 0.625rem 1rem 0.625rem 1rem;
    display: flex;
    flex-direction: row;
    gap: 0.4375rem;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 13.5rem;
    height: 5rem;
    position: relative;
    overflow: hidden;
}

.vector6 {
    flex-shrink: 0;
    position: relative;
    transform: translate(0rem, 0rem);
    overflow: visible;
}

.filtro-6 {
    background: #000000;
    border-radius: 1.90625rem;
    padding: 0.625rem 1rem 0.625rem 1rem;
    display: flex;
    flex-direction: row;
    gap: 0.4375rem;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 13.5rem;
    height: 5rem;
    position: relative;
    overflow: hidden;
}

.vector7 {
    flex-shrink: 0;
    position: relative;
    transform: translate(0rem, 0rem);
    overflow: visible;
}

.filtro-7 {
    background: #000000;
    border-radius: 1.90625rem;
    padding: 0.625rem 1rem 0.625rem 1rem;
    display: flex;
    flex-direction: row;
    gap: 0.4375rem;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 13.5rem;
    height: 5rem;
    position: relative;
    overflow: hidden;
}

.vector8 {
    flex-shrink: 0;
    position: relative;
    transform: translate(0rem, 0rem);
    overflow: visible;
}

.filtro-8 {
    background: #000000;
    border-radius: 1.90625rem;
    padding: 0.625rem 1rem 0.625rem 1rem;
    display: flex;
    flex-direction: row;
    gap: 0.4375rem;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 13.5rem;
    height: 5rem;
    position: relative;
    overflow: hidden;
}

.vector9 {
    flex-shrink: 0;
    position: relative;
    transform: translate(0rem, 0rem);
    overflow: visible;
}

.bot-o {
    background: #000000;
    border-radius: 1.90625rem;
    padding: 1.25rem 5rem 1.25rem 5rem;
    display: flex;
    flex-direction: row;
    gap: 0.625rem;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
}

.acessar-constitui-o {
    color: #ffffff;
    text-align: center;
    font: 700 2.25rem 'Now Alt', sans-serif;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center
}

.frame-2 {
    display: flex;
    flex-direction: column;
    gap: 2.0625rem;
    align-items: center;
    justify-content: flex-start;
    width: 43.8125rem;
    height: 26.5rem;
    position: absolute;
    left: 23.0625rem;
    top: 2rem;
}

.th-mis {
    color: #000000;
    text-align: center;
    font: 700 2rem 'Now Alt', sans-serif;
    position: relative;
    align-self: stretch;
    height: 2.5rem;
}

.main {
    display: flex;
    flex-direction: column;
    gap: 2.125rem;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    flex-shrink: 0;
    height: 23.75rem;
    position: relative;
}

.busque-a-lei-aqui {
    color: #000000;
    text-align: center;
    font: 700 5rem 'Now Alt', sans-serif;
    position: relative;
    width: 50.4375rem;
    height: 11.125rem;
    display: flex;
    align-items: center;
    justify-content: center
}

.texto {
    background: #878787;
    border-radius: 1.90625rem;
    padding: 0rem 1.25rem 0rem 1.25rem;
    display: flex;
    flex-direction: column;
    gap: 2.125rem;
    align-items: flex-start;
    justify-content: center;
    align-self: stretch;
    flex-shrink: 0;
    height: 4.375rem;
    position: relative;
}

.texto2 {
    color: #d9d9d9;
    text-align: left;
    font: 700 2rem 'Now Alt', sans-serif;
    position: relative;
    width: 17.400625rem;
    height: 2.125rem;
    display: flex;
    align-items: center;
    justify-content: flex-start
}